.swiper-container-date {
  width: 450px !important;
  height: 50px !important;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100px;
}
.mouse-pointer-class {
  cursor: pointer;
}
.place-theater-group {
  display: flex;
  height: 100%;
}

.place-group {
  width: 50%;
  text-align: start;
  padding-left: 20px;
  overflow-y: auto;
  height: 100%;
}
.theater-group {
  width: 50%;
  text-align: start;
  padding-left: 20px;
  overflow-y: auto;
}

.theater-room-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
.movie-group {
  overflow-y: auto;
  text-align: left;
  padding-left: 20px;
}

.theater-room {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 248, 248, 1) 100%
  );
  color: black;
}
.theater-room-all {
  overflow: auto;
  height: 500px;
}
.small-seat-rows {
  position: relative;
  height: 10px;
}
.big-seat-rows {
  position: relative;
  height: 40px;
}
.seat-row-name {
  position: absolute;
  left: 10px;
}

.seat-color-red {
  background-color: red;
}

.back-ground-red {
  background-color: red;
  color: white;
}
