/*영화 모달 css*/

.modal-filmo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.modal-filmo-content {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 23%;
  height: 600px;
  width: 970px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal-filmo-head {
  height: 25px;
  width: 100%;
}
.modal-filmo-head {
  text-align: right;
  padding-right: 10px;
}

.modal-filmo-item {
  margin: auto;
  height: 520px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.modal-filmo-people {
  width: 100%;
}
